{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   
   <!--bootstrap-->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- External CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'styles/home.css' %}">
<link rel="stylesheet" type="text/css" href=" {% static 'styles/login.css' %}">
<title>Tappal | LogIn </title>

</head> 
<body class="" style="height: 550px;">
{% block content %}

<div class="container" style="height: 100%;">
    <div id="login-row" class="row h-100">
        <div id="login-box" class="col-md-6 mx-auto my-auto" >
            <form class="col-12 border border-dark p-5" action="/forms/update/" method="POST" style="text-align: -webkit-center;">
                {% csrf_token %}

                <p class="h4 mb-4">Client Registration</p>
                <hr>

                {% if messages %}
                    <ul class="messages list-unstyled">
                        {% for message in messages %}
                        <li {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} role="alert">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div class="form-group">
                    {{ form|crispy }}
                </div>
               
                <button class="form-control btn btn-info btn-block my-4" type="submit">Update Client</button>
            </form>  
        </div>
    </div>
</div>
<!-- <div class="container mt-5">
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Client Name</th>
            <th>Mobile No</th>
            <th>Address</th>
            <th>Pin</th>
        </tr>
        {% for client in clients %}
        <tr>
            <td>{{client.id}}</td>
            <td>{{client.cname}}</td>
            <td>{{client.cmobno}}</td>
            <td>{{client.address}}</td>
            <td>{{client.pincode}}</td>
            <td><a href="/forms/update/{{client.id}}/">update</a></td>
            <td><a href="#">delete</a></td>
        </tr>
        {% endfor %}
    </table>
</div> -->
{% endblock content %}
</body>
</html>